body {
  padding-top: 50px;
}
.center-padded {
  padding: 40px 15px;
  text-align: center;
}

.container .padded-container {
    padding-bottom: 10px;
    border-radius: 10px;
}

.col-md-3 {
  text-align: center;
}


input[type="checkbox"] {
             display: block;
             margin : 0 auto;
        }


.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }