body {
  padding-top: 30px;
}
.center-padded {
  padding: 10px;
  text-align: center;
}

.pad-container {
    padding-bottom: 15px;
    border-radius: 10px;
}


.TwentyPXFiller {
    padding-top:20px;
}

.container-green-title {
    background-color: #96e386; border-radius:10px; margin-top:20px; margin-bottom:20px; text-align: center;
}

.col-md-3 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


input[type="checkbox"] {
             display: block;
             margin : 0 auto;
        }


.btn-xlarge {
    padding: 18px 28px;
    background-color: #96e386;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

.btn-xlarge:hover {
    background-color: #80c472;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.btn {
    background-color: #96e386;
}

.btn:hover {
    background-color: #80c472;
}

.social-media {
    margin-left:50px;
}

p {
    font-size:1.3em;
}