{% extends "basic_bootstrap.html" %}
{% load static %}


{% block page_leader %}


<div class="container pad-container">
    <div class="TwentyPXFiller"></div>
    <div class="TwentyPXFiller"></div>
    {% if flavour == "mobile" %}
        <img src="{% static 'MOBILEprimate_banner.png' %}" width="100%">
    {% else %}
        <img src="{% static 'primate_banner.png' %}" width="100%">
    {% endif %}

</div>



<div class="container container-green-title">

        <h1>Which Primate Species Are You?</h1>
        <div class="TwentyPXFiller"></div>

</div>

{% endblock %}

{% block quiz_questions %}

    {% for question in questions %}

    <div class="container pad-container" style="background-color: {% cycle '#E8E8E8' '#C8C8C8' %};">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="center-padded">Q{{ forloop.counter }}: {{ question.Q_text|upper }}</h1>
                </div>
            </div>


                <div class="row">
                    <div class="col-md-3"><h3>{{ question.response1 }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-1"></div>
                    <div class="col-md-3"><h3>{{ question.response2 }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-2"></div>
                    <div class="col-md-3"><h3>{{ question.response3 }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-3"></div>
                    <div class="col-md-3"><h3>{{ question.response4 }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-4"></div>
                </div>

                <div class="row">
                    <div class="TwentyPXFiller"></div>
                </div>
    </div>

    <div class="TwentyPXFiller"></div>


    {% endfor %}

    <div class="container pad-container" style="padding-top:30px; padding-bottom:30px; text-align:center;">
        <button type="button" class="btn btn-default btn-xlarge" onclick="location.href='/results/{{ result.slug }}'">
        RESULTS
    </div>

    </button>
{% endblock %}