{% extends "basic_bootstrap.html" %}
{% load static %}


{% block page_leader %}

<div class="container">
    <div class="center-padded">
        <h1>Which Primate Species Are You?</h1>
    </div>

</div>

<div class="container" style="padding-bottom: 60px">
    <img src="{% static 'primate_banner.png' %}" width="100%">
</div>


{% endblock %}

{% block quiz_questions %}

    {% for question in questions %}

    <div class="padded-container" style='   background-color: {% cycle '#E8E8E8' '#C8C8C8' %};'>
        <div class="padded-container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="center-padded">{{ question.Q_text|upper }}</h2>
                </div>
            </div>
        </div>

        <div class="padded-container">
            <div class="row">
                <div class="col-md-3"><h3>{{ question.response1|upper }}</h3><br><input type="checkbox"></div>
                <div class="col-md-3"><h3>{{ question.response2|upper }}</h3><br><input type="checkbox"></div>
                <div class="col-md-3"><h3>{{ question.response3|upper }}</h3><br><input type="checkbox"></div>
                <div class="col-md-3"><h3>{{ question.response4|upper }}</h3><br><input type="checkbox"></div>
            </div>
        </div>
    </div>

        <div class="container" style="padding-top:30px;">
        </div>

    {% endfor %}

    <div class="container" style="padding-top:30px; padding-bottom:30px; text-align:center;">
        <button type="button" class="btn btn-default btn-xlarge" onclick="location.href='/results/'">
        RESULTS
    </div>

    </button>
{% endblock %}