{% extends "basic_bootstrap.html" %}
{% load static %}

{% block google_analytics %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47956441-1', 'are-awesome.com');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block page_leader %}


<div class="container pad-container">
    <div class="TwentyPXFiller"></div>
    <div class="TwentyPXFiller"></div>
    {% if flavour == "mobile" %}
        <img src="{% static 'MOBILEprimate_banner.png' %}" width="100%">
    {% else %}
        <img src="{% static 'primate_banner.png' %}" width="100%">
    {% endif %}

</div>

        {% comment %}Full width title on mobile, less on desktop{% endcomment %}
        {% if flavour == "mobile" %}
            <div class="container container-green-title">
        {% else %}
            <div class="container container-green-title" style="width:40%;">
        {% endif %}

        <h1>Which Primate Species Are You?</h1>
        <div class="TwentyPXFiller"></div>

</div>

{% endblock %}

{% block quiz_questions %}

    {% for question in questions %}

    {% if forloop.counter == 3 %}
        <div class="container pad-container" style="padding-top:30px; padding-bottom:30px; text-align:center;">
            {% if flavour == "mobile" %}
                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ancientecocom-20&o=1&p=21&l=ur1&category=mp3&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            {% else %}
                <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=ancientecocom-20&o=1&p=48&l=ur1&category=musicandentertainmentrot&f=ifr" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            {% endif %}
        </div>
    {% endif %}

    <div class="container pad-container" style="background-color: {% cycle '#E8E8E8' '#C8C8C8' %};">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="center-padded">Q{{ forloop.counter }}: {{ question.Q_text|upper|safe }}</h1>
                </div>
            </div>


                <div class="row">
                    <div class="col-md-3"><h3>{{ question.response1|safe }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-1"></div>
                    <div class="col-md-3"><h3>{{ question.response2|safe }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-2"></div>
                    <div class="col-md-3"><h3>{{ question.response3|safe }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-3"></div>
                    <div class="col-md-3"><h3>{{ question.response4|safe }}</h3><br><input type="checkbox" class="ckbox{{ question.id }}" id="ckbox{{ question.id }}-4"></div>
                </div>

                <div class="row">
                    <div class="TwentyPXFiller"></div>
                </div>
    </div>

    <div class="TwentyPXFiller"></div>


    {% endfor %}

    <div class="container pad-container" style="padding-top:30px; padding-bottom:30px; text-align:center;">
        <button type="button" class="btn btn-default btn-xlarge" onclick="location.href='/results/{{ result.slug }}'">
        RESULTS
    </div>

    </button>
{% endblock %}